<!DOCTYPE html>
<html>
  <head>
    <title>등록</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>등록</h1>
    <p>찬양 가사등록</p>
    <form action="/board/write" method="post">
      제목 : <input type="text" name="title" size="90"><br>
      가사내용 : <textarea name="contents" rows="15" cols="90"></textarea><br>
     
      <input type="submit" value="확인">
    </form>
  </body>
</html>
